<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MG - Login/register</title>
	<link rel="icon" type="image/icon" sizes="16x16"  href="../img/favicon.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="bgLightBlue">
	<nav class="bgDarkLigthBlue nav__block textWhite">
		<header class="imgLogoBlock">	
			<a href="../index.html"  id="inicio">
				<img src="../img/logo.png" alt="">
			</a>
		</header>
	    <ul class="nav__block--vin">
            <li class="navButton">
                <a href="productos.html">PRODUCTOS</a>
            </li>
            <li class="navButton">
                <a href="sucursales.html">SUCURSALES</a>
            </li>
            <li class="navButton">
                <a href="contactanos.html">CONTACTANOS</a>
            </li>
            <li class="navButton">
                <a href="#">MIS COMPRAS</a>
            </li>
		</ul>
		<ul class="nav__list--perfil">
            <li>
                <a href="inicio-de-sesion.html">Iniciar sesión</a>
            </li>
            <li>
                <a href="inicio-de-sesion.html#crea-tu-cuenta">Registrarse</a>
            </li>
        </ul>
	</nav>
	<main>
		<section class="section__isr">
			<form class="form__isr" action="#">
				<fieldset class="fs__block--is">
					<div class="div__block--titulois">
						<h4 class="textBlack textBold">Iniciar sesión:</h4>
					</div>
					<div class="div__block--isr">
						<label class="label__isr textBlack textRegular" for="usuario-is">Usuario:</label>
						<input class="input__isr textBlack textRegular" type="text" id="usuario-is">
					</div>	
					<div class="div__block--isr">
						<label class="label__isr textBlack textRegular" for="pass-is">Contraseña:</label>
						<input class="input__isr textBlack textRegular" type="password" id="pass-is">
					</div>	
					<div class="div__block--isr">
						<input id="iniciosesionisr" class=" textBlack textRegular" type="button" value="Iniciar sesión">
					</div>
				</fieldset>
				<fieldset class="fs__block--r" id="crea-tu-cuenta">
					<div class="div__block--titulor">
						<h4 class="textBlack textBold">Creá tu cuenta:</h4>
					</div>
					<div class="div__block--isr">	
						<label class="label__isr  textBlack textRegular" for="nombre">Nombre:</label>
						<input class="input__isr  textBlack textRegular" type="text" id="nombre">
					</div>		
					<div class="div__block--isr">
						<label class="label__isr  textBlack textRegular" for="apellido">Apellido:</label>
						<input class="input__isr  textBlack textRegular" type="text" id="apellido">
					</div>	
					<div class="div__block--isr">
						<label class="label__isr  textBlack textRegular" for="usuario-r">Usuario:</label>
						<input class="input__isr  textBlack textRegular" type="text" id="usuario-r">
					</div>	
					<div class="div__block--isr">
						<label class="label__isr  textBlack textRegular" for="email">Email:</label>
						<input class="input__isr  textBlack textRegular" type="email" id="email">
					</div>	
					<div class="div__block--isr">
						<label class="label__isr  textBlack textRegular" for="pass-r">Contraseña:</label>
						<input class="input__isr  textBlack textRegular" type="password" id="pass-r">
					</div>		
					<div class="div__block--isr">
						<input id="registrarseisr" class="textBlack textRegular" type="button" value="Registrarse">
					</div>	
				</fieldset>
			</form>
		</section>
    </main>
	<footer class="bgDarkBlue pie__block--redes">
		<a href="#index.html">
			<img src="../img/logo.png" alt="descripcion del logo">
		</a>
		<a href="https://www.instagram.com" target="_blank">
			<img src="../img/ig.png" alt="Instagram">
		</a>
		<a href="https://www.facebook.com" target="_blank">  
			<img src="../img/fb.png" alt="Facebook">
		</a>
		<a href="https://twitter.com/" target="_blank">
			<img src="../img/tw.png" alt="Twiter">
		 </a>
		 <a href="https://www.gmail.com" target="_blank">
			<img src="../img/gmail.png" alt="Correo electronico">
		</a>
	</footer>
</body>
</html>